<h1>This is erb :existing</h1>

this screen should show which user to select
<h1>Select a user</h1>

<% for user in @all_users %>
     Name:  <a href="/existing/<%= user.id %> "> <%= user.name%> </a>
      <% end %>
      <br>

<a href="/">back to home</a>
<a href="/overview">the next screen should be account overview, same point as a new user</a>
