<h1>This is erb :existing/id</h1>

this screen can add spend from here
check all added spend, total of spend<br>

<h1>Spending details</h1>

<p>Name: <%= @user.name %> </p>
<p>Budget: <%= @user.budget %></p>
<p>Spend: <%= @user.purchases %></p>
<p>Total: <%= @user.total_of_purchases %></p>




<a href="/">back to home</a>
<a href="/overview">the next screen should be account overview, same point as a new user</a>
