<h1>This is erb :existing/id</h1>

this screen can add spend from here
check all added spend, total of spend<br>

<h1>Spending details</h1>

<p>Name: <%= @user.name %> </p>
<p>Budget: <%= @user.budget %></p>
<p>Spending: <% for purchase in @user.purchases %> <%= purchase.amount  %><% end %> </p>
<p>Total: <%= @user.total_of_purchases(@user.id) %></p>


ADD SOME SPEND:<br>

<form action="/add" method="post">
  <label for="amount">Amount spent:</label>
  <input type="text" id="amount" name="amount" placeholder="How much?">



  <label for="merchant">Where:</label>
  <input type="text" id="merchant" min="0" name="budget" placeholder="Retailer name?" >

  <label for="date">When:</label>
  <input type="date" id="date" min="0" name="date_picked" placeholder="When?" >

  <label for="type">What kind:</label>
  <input type="text" id="type" min="0" name="type" placeholder="Retail/Bill/Groceries?" >




  <!-- <label for="pizza-select">Select a topping:</label>
  <select id="pizza-select" name="topping">
      <option value="Margherita">Margherita</option>
      <option value="Pepperoni">Pepperoni</option>
      <option value="Mushroom">Mushroom</option>
      <option value="Anchovy">Anchovy</option>
  </select> -->

  <input type="submit" value="Add Spend">
</form>


<a href="/">back to home</a>
<a href="/add">ADD SPEND -></a>
