<h1> Merchant Alteration </h1>

<section>
  <form action="/delete-merchants" method="post">
    <input class="warn" type="submit" value="Delete all merchants?"/>
  </form><br>
  <% for merchant in @merchants %>
  Name: <%= merchant.name%> | Type: <%= merchant.type %> | <form action="/merchants/<%= merchant.id%>" method="post">
    <input class="enter" type="submit" value="Delete">
  </form>
  <br>
  <% end %>
<br>

<h2>Add a merchant:</h2><br>
<form action="/merchants" method="post">

  <label for="name">Where did you pay cash?</label>
  <input type="text" id="name" name="name" placeholder="Name?" required>

  <label for="type">What was this for?</label>
  <input type="text" id="type" name="type" placeholder="Shopping? Bill?" required>

  <input class="enter" type="submit" value="Add Retailer">
</form>
</section>

<a class=nav href="/">Home</a>
<a class=nav href="/users/existing">Users</a>
