<h1> Merchant Alteration </h1>

<section>
  <h2> Existing merchants:</h2><br>
  <% for merchant in @merchants %>
       Name: <%= merchant.name%> | Type: <%= merchant.type%> | <br>

        <% end %>
<br>
<br>
<h2>Add a merchant:</h2><br>
<form action="/merchant" method="post">

  <label for="name">Where did you pay cash?</label>
  <input type="text" id="name" name="name" placeholder="Name?">

  <label for="type">What was this for?</label>
  <input type="text" id="type" name="type" placeholder="Shopping? Bill?" >

  <input type="submit" value="Add Retailer">
</form>
</section>

<a class=nav href="/">Home</a>
<a class=nav href="/existing">Users</a>
