<h1>This is erb :existing</h1>

after user selected, account overview shown
can add spend from here
check all added spend, total of spend<br>

<a href="/">back to home</a>
<a href="/add-spend">should be a button at bottom</a>
