<h1>Create a new user</h1>
<section>
<form action="/new" method="post">
  <label for="name">Your name:</label>
  <input type="text" id="name" name="name" placeholder="Your name">

  <label for="budget">Budget:</label>
  <input type="number" id="budget" min="0" name="budget"  placeholder="£">
</section>
  <br><br>
<a class=nav href="/">home</a>
  <input class=submit type="submit" value="Add User">
</form>
