<h1>Test - new link (this is /new/index)</h1>
THIS WORKS BUT AFTER BUTTON CLICKED IT IS<br>DIRECTING USER TO MAIN PAGE<BR>
  NEED TO GET EXISTING SCREEN WORKING TO SHOW CURRENT SPEND

form needed - create your user
<h2> Create your user </h2>
when created, take to overview to add spend

<h1>Add New Order</h1>

<form action="/new" method="post">
  <label for="name">Your name:</label>
  <input type="text" id="name" name="name" placeholder="Your name">



  <label for="budget">Budget:</label>
  <input type="number" id="budget" min="0" name="budget" >

  <!-- <label for="pizza-select">Select a topping:</label>
  <select id="pizza-select" name="topping">
      <option value="Margherita">Margherita</option>
      <option value="Pepperoni">Pepperoni</option>
      <option value="Mushroom">Mushroom</option>
      <option value="Anchovy">Anchovy</option>
  </select> -->

  <input type="submit" value="Add User">
</form>

<br>
<a href="/">home</a>
<a href="/new">create - (button dead)the next screen should be account overview,
  same view as existing (but with respective spend)</a>
